body {
  background-color: #293133;
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

#particles-js {
  width: 100%;
  height: 100vh;

}

.titulo h1 {
  text-align: center;
  color: white;
  font-size: 2.3vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.ver-meu-trabalho h2 {
  font-size: 1.3vw;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.titulo span {
  color: #00C3FF;
}

.ver-meu-trabalho {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 45px;
  border: white solid 1.5px;
  margin-top: 20px;
  cursor: pointer;
}

.ver-meu-trabalho span {
  font-size: 1.2vw;
  color: white;
  transform: rotate(180deg);
  margin-left: 10px;
}

.ver-meu-trabalho:hover span {
  transform: rotate(270deg);
  transition: transform 0.4s;
  margin-bottom: 5px;
}



.ver-meu-trabalho:hover {
  background-color: #00C3FF;
  border-color: #00C3FF;
  transition: .4s;
}

header ul {
  display: flex;
  flex-direction: row;
  background-color: #3D5C66;
  border-bottom: 3px #00C3FF solid;
}

header li {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: white;
  font-weight: 800;
}

.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#sobre {
  visibility: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

#card_1 {
  visibility: hidden;
}

#card_2 {
  visibility: hidden;
}

#card_3 {
  visibility: hidden;
}

.card img {
  width: 60%;
  border-radius: 100%;
  box-shadow: 6px 6px 8px rgb(0, 0, 0);
}

.card h2,
.apresentacao h2 {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
  color: #29A6CC;
  font-weight: 800;
}

.card p,
.apresentacao p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h3 {
  margin: 40px;
  margin-bottom: 70px;
}

.hexagono {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.apresentacao {
  width: 30%;
  height: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 19%;
}

.apresentacao img {
  width: 70%;
}

.skill-bar {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

label {
  width: 160px;
  background-color: #00C3FF;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #293133;
  align-items: center;
  margin-bottom: 5px;
  height: 25px;
}

.bar {
  width: 100%;
  background-color: #3D5C66;
  height: 25px;
  overflow-x: hidden;
}

.fill1 {
  height: 100%;
  background-color: #29A6CC;
}

.fill2 {
  height: 100%;
  background-color: #29A6CC;
}

.fill3 {
  height: 100%;
  background-color: #29A6CC;
}

.fill4 {
  height: 100%;
  background-color: #29A6CC;
}

.fill5 {
  height: 100%;
  background-color: #29A6CC;
}

.fill6 {
  height: 100%;
  background-color: #29A6CC;
}

.fill7 {
  height: 100%;
  background-color: #29A6CC;
}

.fill8 {
  height: 100%;
  background-color: #29A6CC;
}

.fill9 {
  height: 100%;
  background-color: #29A6CC;
}

.skills {
  width: 40%;
  visibility: hidden;
}

.organizar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Projetos */

.projetos {
  background-color: #232b2c;
  width: 100%;
  padding: 150px 0;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galeria {
  overflow: hidden;
  width: 300px;
  height: 300px;
  background-image: url('./imgs/katins.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.galeria::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #293133;
  opacity: 0;
  transition: opacity .5s;
}

.galeria:hover::before {
  opacity: 1;
}

.texto h3 {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: 'Raleway' sans-serif !important;
  font-weight: 600;
  margin-bottom: 10px;
}

.texto h4 {

  font-family: 'Raleway' sans-serif !important;
  font-weight: 600;
  color: #29A6CC;
}

.ver_site {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  border: #29A6CC 2px solid;
  cursor: pointer;
}

.ver_site p {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  color: rgb(255, 255, 255);
}

.ver_site p:hover {
  transition: .7s;
  color: rgb(0, 0, 0);
}

.ver_site:hover {
  background-color: #29A6CC;
  transition: .7s;
}

.texto,
.ver_site {
  opacity: 0;
  transform: translateY(-300px);
  transition: opacity 1s, transform 1s;
}

.ver_site {
  transform: translateY(300px);
}

.trabalhos {
  width: 910px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  overflow-y: hidden;
}

.galeria[data-image="THREE"] {
  background-image: url("imgs/fundo1.jpg");
}

.galeria[data-image="CANVA"] {
  background-image: url("imgs/sitePercaPeso.png");
}

.galeria[data-image="FIGMA"] {
  background-image: url("imgs/cracha.png");
}

.galeria[data-image="EBOOK"] {
  background-image: url("imgs/ebook.png");
}

.galeria[data-image="EMFOCO"] {
  background-image: url("imgs/criancasemfoco.png");
}

.criancas {
  font-size: 1.7rem !important;
}


/* contato */

.custom-form {
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input-field,
.textarea-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  background-color: #232b2c;
}

.textarea-field {
  height: 100px;
  resize: none;
}

.submit-button {
  width: 30%;
  padding: 10px;
  border: none;
  color: #ffffff;
  background-color: #293133;
  border: #ffffff 2px solid;
  cursor: pointer;
  font-family: 'Raleway' sans-serif;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.submit-button:hover {
  transition: .4s;
  background-color: #29A6CC;
  border: #29A6CC 2px solid;
  color: #293133;
}

.input-field:focus,
.textarea-field:focus {
  outline: none;
  box-shadow: none;
  border-color: #777;
}

section p {
  margin: 0 !important;
  font-size: 1.2rem;
  color: #00C3FF;
  font-family: 'Raleway';
}

.contato {
  margin: 0 !important;
}


/* footer */

footer {
  background-color: #3D5C66;
  margin-top: 100px;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icones {
  width: 40%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293133;
  width: 60px;
  height: 60px;
  text-decoration: none;
  overflow-y: hidden;
}

.fab {
  color: white;
  font-size: 2.7rem;
  /* Define o tamanho do ícone */
}

.organizar2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.organizar2 h6{
  font-family: 'Montserrat';
  font-size: .85rem;
  margin-top: 40px;
  color: #00C3FF;
}
